.pokemon-detail{
    background-color: azure;
    
}
.pokemon-detail h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}